body {
  background-color: aquamarine;
}

#root{
  display: flex;
  justify-content: center;
 
  
}


.contenedor-semaforo {
  height: 180px;
  width: 80px;
  background-color: black;
  border-radius: 10px;
  position: relative;
  
}
#auida1 {
  
  
  position: absolute;
  top: 10px;
  border-radius: 50%;
  left: 16px;
  height: 50px;
  width: 50px;
  background-color: red;
}

#auida2 {
  
  
  position: absolute;
  top: 68px;
  left: 16px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: orange;
}


#auida3 {
  
  
  position: absolute;
  bottom: 5px;
  left: 16px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: green;
}



.contenedor-palo {
  height: 120px;
  width: 10px;
  background-color: black;
  
}

.sombra-luz {
  box-shadow: 0px 0px 20px 10px #ffea00;
  
}